Repository headrockz/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, yamllint, bandit

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: requirements-txt-fixer
        stages: [commit]
      - id: sort-simple-yaml
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: mixed-line-ending
        stages: [commit]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        stages: [commit]

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
        stages: [commit]

  # - repo: https://github.com/ansible-community/ansible-lint.git
  #   rev: v25.9.2
  #   hooks:
  #     - id: ansible-lint

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: local
    hooks:
      # - id: black
      #   name: Run black
      #   entry: poetry run black
      #   language: system
      #   types: [file, python]
      #   stages: [commit]

      - id: isort
        name: Run Isort
        entry: poetry run isort
        language: system
        types: [file, python]
        stages: [commit]

      - id: flake8
        name: Run Flake8
        entry: poetry run flake8
        language: system
        types: [file, python]
        stages: [commit]

      - id: yamllint
        name: Run Yamlint
        entry: poetry run yamllint
        language: system
        types: [file, yaml]
        stages: [commit]
        args: ['-d {extends: default, rules: {line-length: {max: 300}}}', '-s']

      - id: bandit
        name: Run Bandit
        entry: poetry run bandit
        language: system
        types: [file, python]
        stages: [commit]
        args:
          [
            --configfile,
            pyproject.toml,
            --severity-level,
            all,
            --confidence-level,
            all,
            --quiet,
            --format,
            custom,
          ]

      - id: commit-check
        name: Run Commit Check
        entry: poetry run cz check --commit-msg-file
        language: system
        types: [file, yaml]
        stages: [commit-msg]

feat: use GARAGE_VERSION variable for garage image version and add BIOS volume to romm service
  docker-compose/garage-hq/docker-compose.yaml
  docker-compose/romm/docker-compose.yaml
Due: yamllint

feat: update Traefik configurations to use Cloudflare certresolver and add service labels for multiple services
  docker-compose/homepage/docker-compose.yaml
  docker-compose/immich/docker-compose.yaml
  docker-compose/media/docker-compose.yaml
  docker-compose/romm/docker-compose.yaml
  docker-compose/smart-home/docker-compose.yaml
  docker-compose/syncthing/docker-compose.yaml
  docker-compose/traefik/config/omv.yaml
  docker-compose/traefik/config/pihole-1.yaml
  docker-compose/traefik/config/pihole-2.yaml
  terraform/authentik/modules/proxy/traefik-falcon.tf
Due: yamllint

feat: add offsite server endpoint configuration with SSH settings
  terraform/authentik/modules/rac/endpoint.tf
Due: none

feat: add task to display disk usage in check-disk-space playbook
  ansible/system/check-disk-space.yaml
Due: yamllint

feat: add playbook to install check-size script and its dependencies
  ansible/scripts/check-size-install.yaml
Due: yamllint

feat: add SSD backup sync playbook with script and service configuration
  ansible/backup/ssd-sync-install.yaml
  ansible/backup/templates/99-ssd-sync.rules.j2
  ansible/backup/templates/ssd-sync.service.j2
  ansible/backup/templates/ssd-sync.sh.j2
Due: yamllint

feat: add MQTT check-size script and installation playbook
  ansible/scripts/mqtt-check-size-install.yaml
  scripts/mqtt-check-size.py
Due: isort, flake8, yamllint, bandit

feat: update container images to specific versions for consistency and stability
  docker-compose/authenik/docker-compose.yaml
  docker-compose/beszel/docker-compose.yaml
  docker-compose/cloudflared/docker-compose.yaml
  docker-compose/databases/docker-compose.yaml
  docker-compose/databasus/docker-compose.yaml
  docker-compose/garage-hq/docker-compose.yaml
  docker-compose/glances/docker-compose.yaml
  docker-compose/grafana-stack/docker-compose.yaml
  docker-compose/homepage/docker-compose.yaml
  docker-compose/immich/docker-compose.yaml
  docker-compose/media/docker-compose.yaml
  docker-compose/nextexplorer/docker-compose.yaml
  docker-compose/nginx-proxy-manager/docker-compose.yaml
  docker-compose/openwebui/docker-compose.yaml
  docker-compose/romm/docker-compose.yaml
  docker-compose/smart-home/docker-compose.yaml
  docker-compose/stirling-pdf/docker-compose.yaml
  docker-compose/syncthing/docker-compose.yaml
  docker-compose/telegraf/docker-compose.yaml
  docker-compose/traefik/docker-compose.yaml
  docker-compose/uptime-kuma/docker-compose.yaml
  docker-compose/whats-up-docker/docker-compose.yaml
Due: yamllint

feat: update service URLs and add Docker plugin configuration
  .gitignore
  docker-compose/homepage/data/services.yaml
  docker-compose/kestra/config/config.yaml
  docker-compose/smart-home/docker-compose.yaml
Due: yamllint

feat: update It Tools service URLs for consistency across configurations
  docker-compose/homepage/data/services.yaml
  docker-compose/it-tools/docker-compose.yaml
  terraform/authentik/modules/proxy/it-tools.tf
Due: yamllint

feat: enhance MQTT configuration and scripts with additional metrics and improved payload structure
  ansible/mqtt/create-homeassistant-topics.yaml
  ansible/mqtt/templates/hass_config_topic.j2
  ansible/mqtt/vars/main.yaml
  docker-compose/homepage/data/services.yaml
  pyproject.toml
  scripts/mqtt-send.sh
Due: yamllint

feat: update MQTT message formatting to include folder name in sensor configuration
  scripts/mqtt-check-size.py
Due: isort, flake8, bandit

feat: add MQTT updates script for monitoring package updates
  scripts/mqtt-updates.sh
Due: none

feat: refactor MQTT script to streamline payload construction and remove unused variables
  ansible/mqtt/vars/main.yaml
  scripts/mqtt-send.sh
Due: yamllint

feat: add SSH hardening playbook and configuration template
  ansible/system/ssh-hardening.yaml
  ansible/system/templates/sshd_config.j2
Due: yamllint

feat: update authentik address in middleware configuration for traefik
  ansible/docker/docker-deploy-stack.yaml
  docker-compose/traefik/config/middleware.yaml
Due: yamllint

feat: update storage configuration to use MinIO instead of S3
  docker-compose/kestra/config/config.yaml
Due: yamllint

feat: update nextexplorer volume configuration to use named volume for cache
  docker-compose/nextexplorer/docker-compose.yaml
Due: yamllint

feat: add docker-compose configuration for authentik server and worker services
  docker-compose/authentik/docker-compose.yaml
Due: yamllint

feat: add authentik admin group ID variable and policy bindings for SSH and Next Explorer applications
  terraform/authentik/main.tf
  terraform/authentik/modules/oauth2/nextexplorer.tf
  terraform/authentik/modules/rac/ssh.tf
  terraform/authentik/modules/rac/variables.tf
Due: none

feat: integrate Grafana Alloy for telemetry collection and add Authentik proxy configuration
  .gitignore
  docker-compose/alloy/alloy/docker.alloy
  docker-compose/alloy/alloy/exporters.alloy
  docker-compose/alloy/alloy/host.alloy
  docker-compose/alloy/alloy/otel.alloy
  docker-compose/alloy/docker-compose.yaml
  docker-compose/homepage/data/services.yaml
  terraform/authentik/modules/proxy/alloy.tf
Due: yamllint

feat: Ansible certificate generation utilities
  ansible/docker/docker-generate-certs.yaml
Due: yamllint

refactor: clean up obsolete ansible playbooks
  ansible/postgres/create-user-databases.yaml
  ansible/postgres/test-connection.yaml
  ansible/traefik/docker-deploy-traefik.yaml
  ansible/traefik/docker-stop-traefik.yaml
Due: yamllint

refactor: remove redundant docker services
  docker-compose/glances/docker-compose.yaml
  docker-compose/mailrise/docker-compose.yaml
  docker-compose/nginx-proxy-manager/docker-compose.yaml
Due: yamllint

feat: integrate Tempo distributed tracing and update Grafana stack services
  docker-compose/alloy/docker-compose.yaml
  docker-compose/grafana-stack/docker-compose.yaml
  docker-compose/grafana-stack/tempo/tempo.yaml
Due: yamllint

chore: update container images
  docker-compose/immich/docker-compose.yaml
  docker-compose/whats-up-docker/docker-compose.yaml
Due: yamllint

feat: enable kestra otel
  docker-compose/kestra/config/config.yaml
Due: yamllint

feat: add Tailscale DNS module and provider configuration
  terraform/tailscale/main.tf
  terraform/tailscale/modules/dns/dns.tf
  terraform/tailscale/modules/dns/provider.tf
  terraform/tailscale/provider.tf
Due: none

chore: reorganize .gitignore entries for clarity and consistency
  .gitignore
Due: none

feat: add meta descriptions for various authentik applications and clean up tailscale provider configuration
  .gitignore
  terraform/authentik/modules/oauth2/airflow.tf
  terraform/authentik/modules/oauth2/beszel.tf
  terraform/authentik/modules/oauth2/grafana.tf
  terraform/authentik/modules/oauth2/immich.tf
  terraform/authentik/modules/oauth2/kestra.tf
  terraform/authentik/modules/oauth2/nextexplorer.tf
  terraform/authentik/modules/oauth2/open-web-ui.tf
  terraform/authentik/modules/oauth2/proxmox.tf
  terraform/authentik/modules/oauth2/romm.tf
  terraform/authentik/modules/oauth2/rustfs.tf
  terraform/authentik/modules/oauth2/stirling-pdf.tf
  terraform/authentik/modules/oauth2/trino.tf
  terraform/authentik/modules/oauth2/wud.tf
  terraform/authentik/modules/oauth2/zerobyte.tf
  terraform/authentik/modules/rac/ssh.tf
  terraform/tailscale/modules/dns/provider.tf
Due: none

feat: update docker configuration and enhance service definitions for better organization
  docker-compose/homepage/data/docker.yaml
  docker-compose/homepage/data/services.yaml
  docker-compose/homepage/data/settings.yaml
Due: yamllint

feat: add Cloudflare provider configuration
  terraform/cloudflare/main.tf
  terraform/cloudflare/provider.tf
  terraform/cloudflare/variables.tf
Due: none

feat: update service configurations
  docker-compose/homepage/data/services.yaml
  docker-compose/media/docker-compose.yaml
Due: yamllint

feat: add UFW setup playbook
  ansible/ufw/ufw-setup.yaml
Due: yamllint

feat: add Tailscale ACL management module
  terraform/tailscale/main.tf
  terraform/tailscale/modules/acl/acl.tf
  terraform/tailscale/modules/acl/provider.tf
Due: none

feat: add Tempo service to homepage
  docker-compose/homepage/data/services.yaml
Due: yamllint

feat: enhance UFW setup with local TCP and UDP port allowances
  ansible/ufw/ufw-setup.yaml
Due: yamllint

feat: update port configurations for services in docker-compose files
  docker-compose/grafana-stack/docker-compose.yaml
  docker-compose/media/docker-compose.yaml
  docker-compose/smart-home/docker-compose.yaml
Due: yamllint

feat: add environment and secrets configuration for Authentik, Cloudflare, Kestra, Proxmox, and Tailscale
  terraform/authentik/.env.example
  terraform/authentik/secrets.auto.tfvars.example
  terraform/cloudflare/.env.example
  terraform/cloudflare/secrets.auto.tfvars.example
  terraform/kestra/.env.example
  terraform/kestra/secrets.auto.tfvars.example
  terraform/proxmox/.env.example
  terraform/proxmox/main.tf
  terraform/proxmox/modules/groups/groups.tf
  terraform/proxmox/modules/groups/roles.tf
  terraform/proxmox/modules/groups/variables.tf
  terraform/proxmox/modules/sdn/intern.tf
  terraform/proxmox/modules/sdn/variables.tf
  terraform/proxmox/secrets.auto.tfvars.example
  terraform/proxmox/variables.tf
  terraform/tailscale/.env.example
Due: none

feat: update container images for Alloy, Cloudflared, Prometheus, Loki, Grafana, Tempo, Homepage, Romm, and Uptime Kuma
  docker-compose/alloy/docker-compose.yaml
  docker-compose/cloudflared/docker-compose.yaml
  docker-compose/grafana-stack/docker-compose.yaml
  docker-compose/homepage/docker-compose.yaml
  docker-compose/romm/docker-compose.yaml
  docker-compose/uptime-kuma/docker-compose.yaml
Due: yamllint
